/* src/styles/index.css */
@import 'variables.scss';
@import './components/navbar.scss';

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  margin: 0;
  font-family: "Work Sans", serif !important;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

